@media (max-width:375px){
nav.header{
    width:100%;
    height:10vh;
    padding:10px 2rem;
}
h1.logo{
    width:50%;
    color:#111;
    font-size:16px;
}
h1.logo i.fa-award{
    color:#E1880A;
    font-size:19px;
}
ul.nav-list{
    width:40%;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
ul.nav-list li.nav-items{
    width:30%;
    text-align:right;
}

ul.nav-list li.nav-items a{
    color:#212121;
    text-decoration:none;
    font-size:15px;
}
ul.nav-list li.nav-items:not(li.nav-items.build).github a{
    font-size:16px;
    text-transform:lowercase;
}
ul.nav-list li.nav-items i.fa-moon,ul.nav-list li.nav-items i.fa-sun{
    position:relative;
    left:4rem;
    cursor:pointer;
    font-size:16px;
    color:#212121;
}

ul.nav-list li.nav-items.build a{
    padding:5px;
    display:inline-block;
    width:6rem;
    font-size:11px;
    font-weight:500;
    color:#fff;
    border-radius:10px;
    text-align:center !important;
    background-color:#040D12;
}

main div.container{
    width:100%;
    height:90vh;
    justify-content:space-between;
    align-items:center;
    display:flex;
    flex-direction:column;
}
main div.container div.image{
    position:relative;
    top:-2rem;
    width:100%;
}
main div.container div.image img{
    width:100%;
    border-radius:10px;
}

main div.container h1.title{
width:100%;
color:#040D12;
line-height:1.7rem;
font-weight:500;
font-size:2.2rem;
position:relative;
top:4rem;
padding:0 2rem;
}
button.build{
all:unset;
padding:0 4rem;
position:relative;
top:-4rem;
}

 button.build a{
    position:relative;
    top:-25px;
    padding:14px;
    display:inline-block;
    width:15rem;
    font-size:24px;
    font-weight:500;
    color:#fff;
    border-radius:10px;
    text-align:center !important;
    background-color:#040D12;
    text-decoration:none;
}

footer{
    margin-top:10rem;
    display:flex;
    flex-direction:column;
    width:100%;
    height:30vh;
    justify-content:center;
    align-items:center;
}
footer h1{
    font-size:2.4rem;
    font-weight:400;
}
footer h3{
    font-size:1.6rem;
    padding:20px 4rem;
    text-align:center;
    color:#222;
    
}
footer h4{
    color:#222;
    font-family:var(--text);
    padding:20px;
}
a.support img{
    border-radius:20px;
    box-shadow:2px 2px 3px #222;
}
div.menubar-mobile ul{
    width:50%;
    position:absolute;
    right:0;
    background:red;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
}