@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font:"Kanit", sans-serif;
    --text:"Raleway", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
html,body{
    width:100%;
    height:100%;
    font-family:var(--font); 
    font-optical-sizing: auto;
}
body{
background-color:#F6F5F5;
}
nav.header{
    width:100%;
    height:13vh;
    border-bottom:1px solid #000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 4rem;
}
h1.logo{
    width:30%;
    color:#111;
    font-size:24px;
}

h1.logo i.fa-award{
    color:#E1880A;
    font-size:27px;
}

ul.nav-list{
    width:30%;
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
ul.nav-list li.nav-items{
    width:30%;
    text-align:right;
}
ul.nav-list li.nav-items a{
    color:#212121;
    text-decoration:none;
    font-size:15px;
}
ul.nav-list li.nav-items:not(li.nav-items.build).github a{
    font-size:26px;
    text-transform:lowercase;
}
ul.nav-list li.nav-items i.fa-moon,ul.nav-list li.nav-items i.fa-sun{
    position:relative;
    left:4rem;
    cursor:pointer;
    font-size:26px;
    color:#212121;
}

ul.nav-list li.nav-items.build a{
    padding:14px;
    display:inline-block;
    width:10rem;
    font-size:16px;
    font-weight:500;
    color:#fff;
    border-radius:10px;
    text-align:center !important;
    background-color:#040D12;
}
ul.nav-list li.nav-items.build a:hover{
background-color:#FAF0E6;
color:#040D12;
outline:1px solid #333;
transition:all .2s linear;
}
main div.container{
    width:100%;
    height:87vh;
    justify-content:space-between;
    align-items:center;
    display:flex;
}
main div.container div.image{
    position:relative;
    top:-2rem;
    width:40%;
    padding:0 4rem;
}
main div.container div.image img{
    width:100%;
    border-radius:10px;
}

main div.container h1.title{
width:60%;
color:#040D12;
line-height:4.7rem;
font-weight:700;
font-size:5.2rem;
position:relative;
top:-4rem;
padding:0 4rem;
}
button.build{
all:unset;
padding:0 4rem;
position:relative;
top:-4rem;
}

 button.build a{
    position:relative;
    top:-25px;
    padding:14px;
    display:inline-block;
    width:15rem;
    font-size:24px;
    font-weight:500;
    color:#fff;
    border-radius:10px;
    text-align:center !important;
    background-color:#040D12;
    text-decoration:none;
}
button.build a:hover{
background-color:#FAF0E6;
color:#040D12;
outline:1px solid #333;
transition:all .2s linear;
}
footer{
    margin-top:10rem;
    display:flex;
    flex-direction:column;
    width:100%;
    height:30vh;
    justify-content:center;
    align-items:center;
}
footer h1{
    font-size:2.4rem;
    font-weight:400;
}
footer h3{
    font-size:1.6rem;
    font-weight:400;
    padding:20px 4rem;
    text-align:center;
    color:#222;
    
}
footer h4{
    color:#222;
    font-family:var(--text);
    padding:20px;
}
a.support img{
    border-radius:20px;
    box-shadow:2px 2px 3px #222;
}

div.menubar-mobile{
    width:50%;
    right:0%;
    position:absolute;
    display:flex;
    justify-content:space-evenly;
}

div.menubar-mobile ul li>a{
margin-left:100px;
}